/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/js/app.js.map
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
.installer
./public/css/adyen-demo-custom.css
/.idea
.DS_Store
public/.DS_Store
resources/.DS_Store
resources/views/sendmail.php
push