.merchant-name {
	font-weight: 900;
	text-decoration: underline;
}

.checkbox-lg {
	font-size: 18px;
	font-weight: 900;
}

input.checkbox-lg {
	height: 16px;
	width: 16px;
}

.sub-options {
	display: none;
}

.demo-cart-icon {
	font-size: 25px;
}

.fas {
	font-size: 20px;
}

.no-white-space * {
	white-space: nowrap;
}

@font-face {
  font-family: "FS-Emeric-Regular";
  src: url("/fonts/FSEmeric.woff") format('woff');
}

/* Non-Adyen standard styling from here */
body {
	font-family: "FS-Emeric-Regular", Helvetica, sans-serif;
	background-color: #f6f6f6;
}

img.cart-image {
  display: block;
  max-width: 100%;
  height: auto;
}

}
#qr-code{
	text-align: center;
}
