.merchant-name {
	font-weight: 900;
	text-decoration: underline;
}

.checkbox-lg {
	font-size: 18px;
	font-weight: 900;
}

input.checkbox-lg {
	height: 16px;
	width: 16px;
}

.sub-options {
	display: none;
}

.merchant-logo {
	max-width: 100px;
	width: auto;
	height: auto;
}

.demo-cart-icon {
	font-size: 25px;
}

.btn > a {
	width: 100%;
	height: 100%;
	display: block;
}

.fas {
	font-size: 20px;
}

.no-white-space * {
	white-space: nowrap;
}

.custom-file-input {
	cursor: pointer;
}

@font-face {
  font-family: "FS-Emeric-Regular";
  src: url("/fonts/FSEmeric.woff") format('woff');
}

/* Non-Adyen standard styling from here */
body {
	font-family: "FS-Emeric-Regular", Helvetica, sans-serif;
	background-color: #f6f6f6;
}

img.merchant-checkout, img.merchant-checkout-noreplace {
  display: block;
  max-width: 95%;
  height: auto;
}

.success-order {
	height: 60px;
	width: 60px;
	line-height: 60px;

	-moz-border-radius: 30px; /* or 50% */
	border-radius: 30px; /* or 50% */

	background-color: white;
	color: white;
	text-align: center;
	font-size: 2em;
	border: 3px solid green;
}

/* CHAT BOT STYLING */
.chat {
  margin-bottom: 5px;
  background-color:#ffffff;
  margin-top:10px;
  width: 100%;
}
.chat1 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat {
  margin-bottom: 5px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat0 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat1 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat2 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}
#chat3 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat4 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}
/* END BOT STYLING */
