

{
    background: #001439
}

.adyen-checkout__dropin,.adyen-checkout__button.adyen-checkout__button--pay {
    font-family: nunito,sans-serif
}

.adyen-checkout__payment-method {
    border: 1px solid #e3e6eb;
    border-radius: 12px;
    margin-bottom: 16px
}

.adyen-checkout__payment-method:last-child {
    margin-bottom: 0
}

.adyen-checkout__payment-method--selected {
    background: #fff;
    border: 1px solid #001439;
    box-shadow: 0 0 0 1px #001439,0 2px 4px rgba(0,17,44,.08),0 8px 8px rgba(0,17,44,.04)
}

.adyen-checkout__payment-method:not(.adyen-checkout__payment-method--selected):hover {
    border-color: #001439
}

.adyen-checkout__payment-method:not(.adyen-checkout__payment-method--selected):hover .adyen-checkout__payment-method__image {
    box-shadow: 0 0 0 2px #fff
}

.adyen-checkout__payment-method:hover:not(.adyen-checkout__payment-method--selected) .adyen-checkout__payment-method__radio {
    box-shadow: none
}

.adyen-checkout__payment-method__name {
    font-weight: 700
}

.adyen-checkout__payment-method__name.adyen-checkout__payment-method__name--selected {
    font-weight: 400
}

.adyen-checkout__button.adyen-checkout__button--pay {
    background: #001439;
    color: #FFF;
    font-weight: 700
}

.adyen-checkout__button.adyen-checkout__button--pay:hover {
    background: #001439;
    box-shadow: none
}

.adyen-checkout__button.adyen-checkout__button--pay .adyen-checkout__button__icon {
    filter: invert(1);
    top: -2px;
    position: relative
}

.adyen-checkout__payment-method__radio.adyen-checkout__payment-method__radio--selected {
    background-color: #001439
}

.adyen-checkout__dropdown__button--active,.adyen-checkout__dropdown__button--active:hover,.adyen-checkout__dropdown__button:active,.adyen-checkout__dropdown__button:focus {
    border: 1px solid #001439;
    box-shadow: 0 0 0 2px #001439
}

.adyen-checkout__dropdown__element{
  color:#000;
}

.adyen-checkout__input--focus,.adyen-checkout__input--focus:hover,.adyen-checkout__input:active,.adyen-checkout__input:active:hover,.adyen-checkout__input:focus,.adyen-checkout__input:focus:hover {
    border: 1px solid #001439;
    box-shadow: 0 0 0 2px #001439;
    caret-color: #001439
}

.adyen-checkout__label--focused .adyen-checkout__label__text {
    color: var#000000
}

.adyen-checkout__radio_group__input:focus+.adyen-checkout__radio_group__label:before {
    border: 1px solid #001439;
    box-shadow: 0 0 0 2px #001439
}

.adyen-checkout__radio_group__input:checked+.adyen-checkout__radio_group__label:before,.adyen-checkout__radio_group__label--selected {
    background: #001439
}

.adyen-checkout__checkbox__input:hover:not(:focus)+.adyen-checkout__checkbox__label:after {
    border-color: #001439;
    box-shadow: 0 0 0 2px #001439
}

.adyen-checkout__checkbox__input:checked+.adyen-checkout__checkbox__label:after {
    border: 1px solid #001439;
    background-color: #001439
}

.adyen-checkout__checkbox__input:focus+.adyen-checkout__checkbox__label:after {
    border: 1px solid #001439;
    box-shadow: 0 0 0 2px #001439
}

.adyen-checkout__field--consentCheckbox {
    background: #001439;
    border-color: #001439
}

.adyen-checkout__link {
    color: #001439
}


.navbar{
    margin-bottom: 0px;
}


/*Specific colouring matching merchnats webiste.
*/


.signin-social-separator .vl {
    width: 1px;
    height: 100%;
    margin: 0 auto;
    background-color: #ddd;
}

#chat {

  margin-bottom: 5px;
  background-color:#ffffff;
  margin-top:10px;
  width:298px;
}
#chat1 {

  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:250px;
}

.chat {

  margin-bottom: 5px;
  background-color:#ffffff;
  margin-top:10px;
  width:250px;
}
.chat1 {

  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:250px;
}

#myDIV {

  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:250px;
}
#myDIV1 {

  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:250px;
}
#myDIV2 {

  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:250px;
}
#myDIV3 {

  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:250px;
}
#myDIV4 {

  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:250px;
}

#callcentre{
  background-color: #000000;
  border-color: #01224f;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  width: 250px;
  height: 50px;
  color:#FFFFFF;
}


#storeList {
    max-height: 250px;
    margin-bottom: 10px;
    overflow:scroll;
}
.signin-button {
    background-color: #007bff;
    width: 90px;
    height: 30px;
    color: white;
    border: 0;
    border-radius: 5px;
}

.center-align {
  letter-spacing: -4px;
  text-align: center;
  font-size: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.center-align [class*='col-'] {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  font-size: 14px;
  float: none;
}

.seller-card, .seller-option, .kyc-card {
    display: block;
    position: relative;
    border: 1px solid #e5eaef;
    border-radius: 6px;
    padding: 24px;
    margin: 24px 0 0 0;
    flex-grow: 1;
    min-height: 100px;
    color: #00112c;
    background-color: ;
}

.kyc-card:hover {
    display: block;
    position: relative;
    border: 1px solid #06f;
    border-radius: 6px;
    padding: 24px;
    margin: 24px 0 0 0;
    flex-grow: 1;
    min-height: 120px;
    color: #00112c;
    background-color: white;
    text-decoration: none;
}


.footer {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
}

@media (min-width:320px){
    #autoResize{
        font-size:12px;
    }
}
@media (min-width:481px){
    #autoResize{
        font-size:16px;
    }
}
@media (min-width:641px){
    #autoResize{
        font-size:18px;
    }
}
@media (min-width:961px){
    #autoResize{
        font-size:20px;
    }
}
@media (min-width:1000px){
    #autoResize{
        font-size:26px;
    }
}


.merchant-name {
	font-weight: 900;
	text-decoration: underline;
}

.checkbox-lg {
	font-size: 18px;
	font-weight: 900;
}

input.checkbox-lg {
	height: 16px;
	width: 16px;
}

.sub-options {
	display: none;
}

.merchant-logo {
	max-width: 100px;
	width: auto;
	height: auto;
}

.demo-cart-icon {
	font-size: 25px;
}

.btn > a {
	width: 100%;
	height: 100%;
	display: block;
}

.fas {
	font-size: 20px;
}

.no-white-space * {
	white-space: nowrap;
}

.custom-file-input {
	cursor: pointer;
}

@font-face {
  font-family: "FS-Emeric-Regular";
  src: url("/fonts/FSEmeric.woff") format('woff');
}

/* Non-Adyen standard styling from here */
body {
	font-family: "FS-Emeric-Regular", Helvetica, sans-serif;
	background-color: #f6f6f6;
}

img.merchant-checkout, img.merchant-checkout-noreplace {
  display: block;
  max-width: 85%;
  height: auto;
}

.chat {

  margin-bottom: 5px;
  background-color:#ffffff;
  margin-top:10px;
  width: 100%;
}
.chat1 {

  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat {
  margin-bottom: 5px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat0 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat1 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat2 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}
#chat3 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}

#chat4 {
  margin-bottom: 10px;
  background-color:#ffffff;
  margin-top:10px;
  width:100%;
}
